# Conda
.env
.venv/
__pycache__/
.pytest_cache/

# Python
*.pyc
*.pyo
*.pyd

# VS Code
.vscode/

# AWS SAM build files
.aws-sam/

# Local AWS command output
lambda-response.json

# Downloaded cloud data
curated-test.jsonl

# SAM deployment configuration
infrastructure/samconfig.toml

# Locally generated pipeline data
data/

# Local Lambda invocation results
lambda-response.json
invalid-lambda-response.json

# Environment files
.env
.env.*
!.env.example

# OS files
.DS_Store
Thumbs.db